.Header {
  text-align: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin: 10px 50px 20px;
  min-height: 60px;
}

.Header ul {
  padding: 0px;
}

.Header li {
  display: inline-block;
  margin: 3px;
}

.Header-link {
  padding: 4px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #550;
  background-color: #eee;
}

.Header-link-active {
  background-color: #ecc;
}
